@import '../../variables';

#canvas {

  background: $bg-color-main;
  border-radius: 6px;
  width: 100vw;
  height: calc(100vh - 120px);
  box-shadow: 6px 6px 25px rgba(0, 0, 0, .1);
  padding: 0;
  margin: auto;
  display: block;
  position: relative;
  cursor: grab;
}
