@import "../../variables";

.canvas {
  width: 100%;
  height: calc(100vh - 104px);
}

.colorBtn {
  width: 30px;
  height: 30px;
  border-radius: 4px;
  margin: 0 1.5px;
  cursor: pointer;
  box-shadow: $addition-shadow;
}

.oops {
  margin-top: 20px;
}
