@import "../../variables";

.canvasContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 104px);
}

.canvas {
  width: 620px;
  min-height: 620px;
  box-shadow: 0 0 18px rgba(0, 0, 0, .3)
}

.colorBtn {
  width: 30px;
  height: 30px;
  border-radius: 4px;
  margin: 0 1.5px;
  cursor: pointer;
  box-shadow: $addition-shadow;
}

.oops {
  margin-top: 20px;
}
