:global {
  .container {
    flex: 1 0 auto;
  }

  .wrapper {
    max-width: 1120px;
    padding: 0 30px;
    margin: 0 auto;
  }

  .standard-btn {
    font-size: $standard-fz;
    color: $text-color-additional;
    background: $main-color;
    padding: 8px 18px;
    border-radius: 18px;
    border: none;
    cursor: pointer;
    transition: transform .21s ease-in-out;

    &:hover {
      transform: scale(1.06);
    }
  }
}


