@import '../../variables';
@import '../../global';

.header {
  padding: 15px 0;
  box-shadow: $main-shadow;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-family: $custom-font;
  font-size: $logo-size;
  color: $main-color;
}

.headerLink {
  margin-right: 18px;
}


